target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.jar
.idea/
*.iml
*.iws
*.ipr
.vscode/
HELP.md
bin/
out/
build/
.apt_generated/
.classpath
.project
.settings/
.springBeans
.sts4-cache/
.DS_Store
